<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Confirmation</title>
</head>
<body>
    The customer is confirmed: <span th:text="${customer.firstName + ' ' + customer.lastName}"></span>
    <br><br>
    <!-- También podemos usar la expresión "customer.freePasses" -->
    Free passes: <span th:text="${customer.getFreePasses()}"></span>
    <br><br>
    Postal code: <span th:text="${customer.postalCode}"></span>
    <br><br>
    <!-- También podemos usar la expresión "customer.courseCode" -->
    Course code: <span th:text="${customer.getCourseCode()}"></span>
</body>
</html>